# Python Learning ProBook I
## Made By: [Muhammad Raza Khalid Saleemi](https://www.linkedin.com/in/muhammad-raza-khalid-saleemi/)

## Let's Connect on [LinkedIn](https://www.linkedin.com/in/muhammad-raza-khalid-saleemi/) 

## This notebook is not completed stay tuned by clicking STAR Button ‚≠ê

## Notebook Python Version

In [1]:
# Version Check
from platform import python_version
python_version()

'3.7.6'

# Table of contents
1. [Types of Numbers](#num-type)
2. [Booleans](#bool)
3. [Variables](#variables)
4. [Operators](#operators)
    - [Arithematic Operators](#operators-arith)
    - [Relational Operators](#operators-relation)
    - [Logical Operators](#operators-logic)
    - [Bitwise Operators](#operators-bit)
    - [Operators Examples](#operators-exp)
    
5. [Print](#print)
6. [Strings](#strings)
7. [For loop](#for)
8. [Dictionary](#dictionary)
    - [Dictionary Creation](#dic-creation)
    - [Dictionary Deletion](#dic-deletion)
    - [Dictionary key-value pair deletion](#dic-kv-deletion)
    - [Dictionary Mix type Keys and insertion](#dic-mix-keys)
    - [Dictionary Tuple as a key](#dic-keytuple)
    - [Looping through Dictionary](#dic-loop)
    - [Compare Dictionaries](#dic-cmp) 
    - [Finding key in Dictionary](#dic-find)
    - [Using popitem and pop on Dictionary](#dic-pop)
    - [Dictionary Examples](#dic-exp) 

9. [List](#list)
    - [List Creation](#create-list)
    - [Append to List](#append-list)
    - [Slicing and Indexing](#slice-list)
    - [Slicing and Indexing on Mix type List](#slice-mix-list)
    - [Lists Comparisons](#cmp-list)
    - [Operation on Lists](#oper-list)
    - [List Examples](#exp-list)
    - [Using pop() on list](#pop-list)
    
10. [Tuple](#tuple)
11. [Set](#set)

## Types of Numbers <a name="num-type"></a>

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

In [3]:
print('Integers: ',1, 2, -5, 1000)

Integers:  1 2 -5 1000

In [4]:
print('Float: ',1.2, -0.5, 2e2, 3E2 )

Float:  1.2 -0.5 200.0 300.0

## Booleans <a name="bool"></a>

In [7]:
# Boolean Assign
i_am_boolean = True
print(i_am_boolean)

True

In [8]:
# Result of comparisons
False < True

True

In [10]:
1 < 2

True

In [11]:
3.0 == 3

True

## Variables <a name="variables"></a>

We will start with assigning values to variables. the values can be of "integer" type or "float" type. Please consider the following rules before naming the variables.
    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"

In [13]:
i_am_variable = ['I', 'can', 'store', ('different', {'types':'of'} ,'values')]
print(i_am_variable)

['I', 'can', 'store', ('different', {'types': 'of'}, 'values')]

In [2]:
my_string_1 ='raza'
_ = 'r'
foo = 'foo'
#1st_string = 'r' #Syntax Error
print((my_string_1, _, foo))

('raza', 'r', 'foo')

In [3]:
_a = 1
__str__ = 1
__a = 1

print((_a, __str__, __a))

(1, 1, 1)

## Operators <a name="operators"></a>

### Arithematic Operators <a name="operators-arith"></a>

<table>
<tr>
    <th>OPERATOR</th> 
    <th>DESCRIPTION</th>
    <th>SYNTAX</th>
</tr>

<tr>
    <td>+</td>
    <td>Addition: adds two operands</td>
    <td>x + y</td>
</tr>

<tr>
    <td>-</td>
    <td>Subtraction: subtracts two operands</td>
    <td>x - y</td>
</tr>

<tr>
    <td>*</td>
    <td>Multiplication: multiplies two operands</td>
    <td>x * y</td>
</tr>
    
<tr>
    <td>/</td>
    <td>Division (float): divides the first operand by the second</td>
    <td>x / y</td>
</tr>
    
<tr>
    <td>//</td>
    <td>Division (floor): divides the first operand by the second</td>
    <td>x // y</td>
</tr>
    
<tr>
    <td>**</td>
    <td>Power : Returns first raised to power second</td>
    <td>x ** y</td>
</tr>

<tr>
    <td>%</td>
    <td>Modulus: returns the remainder when first operand is divided by the second</td>
    <td>x % y</td>
</tr>
</table>

In [33]:
# Examples of Arithmetic Operator 
a = 17
b = 3

# Addition of numbers 
add = a + b 

# Subtraction of numbers 
sub = a - b 

# Multiplication of number 
mul = a * b 

# Division(float) of number 
div1 = a / b 

# Division(floor) of number 
div2 = a // b 

# Modulo of both number 
mod = a % b 

# Power 
p = a ** b 

# print results
print('a =', a,'b =', b, end= '\n\n')
print("a + b = ",add) 
print("a - b = ",sub) 
print("a * b = ",mul) 
print("a / b = ",div1) 
print("a // b = ",div2) 
print("a % b = ",mod) 
print("a ** b = ",p)

a = 17 b = 3

a + b =  20
a - b =  14
a * b =  51
a / b =  5.666666666666667
a // b =  5
a % b =  2
a ** b =  4913

### Relational Operators <a name="operators-relation"></a>

In [35]:
# Examples of Relational Operators 
a = 5
b = 27
print('a =', a, 'b =', b, '\n')

# a > b is False 
print('a > b ', a > b) 

# a < b is True 
print('a < b ', a < b) 

# a == b is False 
print('a == b', a == b) 

# a != b is True 
print('a != b', a != b) 

# a >= b is False 
print('a >= b', a >= b) 

# a <= b is True 
print('a <= b', a <= b)

a = 5 b = 27

a > b  False
a < b  True
a == b False
a != b True
a >= b False
a <= b True

### Logical Operators <a name="operators-logic"></a>

In [37]:
# Examples of Logical Operator 
a = True
b = False

# Print a and b is False 
print('a and b', a and b) 

# Print a or b is True 
print('a or b ', a or b) 

# Print not b is False 
print('not b  ', not b)

a and b False
a or b  True
not b   True

### Bitwise Operators <a name="operators-bit"></a>

<table>
<tr>
    <th>OPERATOR</th> 
    <th>DESCRIPTION</th>
    <th>SYNTAX</th>
</tr>

<tr>
    <td>&</td>
    <td>Bitwise AND</td>
    <td>x & y</td>
</tr>

<tr>
    <td>|</td>
    <td>Bitwise OR</td>
    <td>x | y</td>
</tr>

<tr>
    <td>~</td>
    <td>Bitwise NOT</td>
    <td>~x</td>
</tr>
    
<tr>
    <td>^</td>
    <td>Bitwise XOR</td>
    <td>x ^ y</td>
</tr>
    
<tr>
    <td>>></td>
    <td>Bitwise right shift</td>
    <td>x >> digit</td>
</tr>
    
<tr>
    <td><<</td>
    <td>Bitwise left shift</td>
    <td>x << digit</td>
</tr>


</table>

In [53]:
# Examples of Bitwise operators 
a = 17
b = 5
print('a =', a, 'b =', b, '\n')
print('binary of a =', bin(a)[2:])
print('binary of b =  ', bin(b)[2:])

# Print bitwise AND operation 
print('a & b  =', a & b) 

# Print bitwise OR operation 
print('a | b  =', a | b) 

# Print bitwise NOT operation 
print('~a     =', ~a)
print('~b     =', ~b) 

# print bitwise XOR operation 
print('a ^ b  =', a ^ b) 

# print bitwise right shift operation 
print('a >> 2 = ', a >> 2) 

# print bitwise left shift operation 
print('a << 2 =', a << 2)

a = 17 b = 5

binary of a = 10001
binary of b =   101
a & b  = 1
a | b  = 21
~a     = -18
~b     = -6
a ^ b  = 20
a >> 2 =  4
a << 2 = 68

### Operators Examples <a name="operators-exp"></a>

In [4]:
x = 1 / 2.0 + 3 // 3 + 4 ** 1
print(x)

y = (1 / 2.0) + (3 // 3) + (4 ** 1)
print(y)

5.5
5.5

In [5]:
A = 16
S = 15
print(A % S // A)

print( (A % S) // A)

#print(A % (S // A) ) #ZeroDivisionError

0
0

## Print <a name="print"></a>

In [56]:
# printing newline character as end = '\n' by default
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
print()

In [59]:
# Changing end to 'NEWLINE'
print(end='NEWLINE')
print('Text to Print',end='NEWLINE')
# NOTE: I didn't start from newline because end attribute
#      is changed from default '\n' to 'NEWLINE'

NEWLINEText to PrintNEWLINE

In [64]:
# Changing separator sep by default is ' ' <= Space
print(1,2,3) # default seperator
print(1,2,3, sep=',')
print(1,2,3, sep= None) # same as space

1 2 3
1,2,3
1 2 3

In [62]:
# printing different types
print(3.14)                          # <class 'float'>

print(1 + 2j)                        # <class 'complex'>

print(True)                          # <class 'bool'>

print([1, 2, 3])                     # <class 'list'>

print((1, 2, 3))                     # <class 'tuple'>

print({'red', 'green', 'blue'})      # <class 'set'>

print({'name': 'Alice', 'age': 42})  # <class 'dict'>

print('hello')                       # <class 'str'>

3.14
(1+2j)
True
[1, 2, 3]
(1, 2, 3)
{'blue', 'red', 'green'}
{'name': 'Alice', 'age': 42}
hello

In [67]:
#printing list containing different types
list1 =  [1, 2.0, 'string', [4, 5], (4, 5), {1: 4, 2: 5}, {1, 2, 4}]
print(list1)

[1, 2.0, 'string', [4, 5], (4, 5), {1: 4, 2: 5}, {1, 2, 4}]

In [69]:
'''
unpack the sequence with the star operator (*)
and let print() handle type casting:
'''
list2 = [ "I am" , 30, 'years old' ]
print(list2)
print(*list2)

['I am', 30, 'years old']
I am 30 years old

In [6]:
print('%.2f'%123.444)

123.44

## Strings <a name="strings"></a>

In [7]:
str = "hello"
print(str[:2])
#shouldn't use str but it still works

he

## For Loop <a name="for"></a>

In [8]:
'''
1. For loop using range function
2. Breaking the for loop on condition
3. Using 'else' with for 
'''
print("Example 1: ")
for i in range(10): # similiar to range(0:10)
    if i == 5:
        break
    else:
        print(i,end=' ')
else: # this is part of for statement
    print("For loop is not breaked")

print("\nExample 2: ")

for i in range(0,10):
    if i == 10:
        break
    else:
        print(i,end=' ')
else: # this is part of for statement
    print("For loop is not break-ed")

Example 1:
0 1 2 3 4
Example 2:
0 1 2 3 4 5 6 7 8 9 For loop is not break-ed

## Dictionary <a name="dictionary"></a>

### Dictionary Creation <a name="dic-creation"></a>

In [9]:
'''
1. Creating Dictionary using {}
2. Creating Dictionary using List of lists
'''
d1 = {1:"A", 2:"B", 3:"C"}
d2 = {}
d3 = dict([[1,"A"],[2,"B"]])
print(d1)
print(d2)
print(d3)

{1: 'A', 2: 'B', 3: 'C'}
{}
{1: 'A', 2: 'B'}

### Dictionary Deletion <a name="dic-deletion"></a>

In [10]:
'''
1. Dictionary Creation
2. Dictionary Keys and Values
3. Dictionary Deletion
'''
d = {1:"A", 2:"B", 3:"C"}
print('Type of d: ', type(d))
print('d = ', d, end='\n\n')
print("Keys of d: ", d.keys())
print("Value of d: ", d.values(), end='\n\n')
print('Executing "del d" ')
del d
try:
    print('Printing d')
    print(d)
except:
    print("Dictionary Not Found")

Type of d:  <class 'dict'>
d =  {1: 'A', 2: 'B', 3: 'C'}

Keys of d:  dict_keys([1, 2, 3])
Value of d:  dict_values(['A', 'B', 'C'])

Executing "del d"
Printing d
Dictionary Not Found

### Dictionary's key-value pair deletion <a name="dic-kv-deletion"></a>

In [11]:
'''
1. Dictionary Creation
2. Dictionary key-value pair deletion
'''
d = {1:"A", 2:"B", 3:"C"}
print('d = ', d)
print("Keys of d: ", d.keys(), end='\n\n')
print('Deleting key-pair with key 1 ... ')
del d[1] # NOTE: 1 is key not index
print('After d[1] deletion, d = ', d)

d =  {1: 'A', 2: 'B', 3: 'C'}
Keys of d:  dict_keys([1, 2, 3])

Deleting key-pair with key 1 ...
After d[1] deletion, d =  {2: 'B', 3: 'C'}

### Dict Mix type keys and insertion using [ ] <a name="dic-mix-keys"></a>

In [12]:
'''
1. Dictionary Creation with dict()
2. Dictionary key-value pair insertion using []
3. Dictionary index as strings, integers, floats
4. Dictionary Mix type for keys
5. Deletion of key-value pair with String key
'''
d = dict()
print('Created dictionary using dict(): d = ', d)
print('Inserting value 30 at key "Raza"..')
d['Raza'] = 30
print("Keys of 'd' now: ", d.keys(), end='\n\n')

print('Inserting value 30 at key "raza"..')
d['raza'] = 30
print("Keys of 'd' now: ", d.keys())
print("NOTE: keys are case sensitive", end='\n\n')

print('Inserting value "raza" at key 30 ..')
d[30] = 'raza'
print("Keys of 'd' now: ", d.keys())
print("NOTE: dict can have keys as string and integer at the same time", end='\n\n')

print('Inserting value "raza" at key 30.12 ..')
d[30.12] = 'raza'
print("Keys of 'd' now: ", d.keys())
print("NOTE: dict can have float as keys ", end='\n\n')

print('Now d = ', d, end='\n\n')
print("Keys of d: ", d.keys())
print("Value of d: ", d.values())
print("NOTE: More than one key can have the same value", end='\n\n')

print('Deleting key-pair with key raza ... ')
try:
    del d[raza]
except:
    print("Wrong Key \nThe Key given here is a variable \nd['raza'] is the correct way", end='\n\n')

print('Deleting key-pair with key "raza" ... ')
try:
    del d['raza']
except:
    print('Key "raza" not found', end='\n\n')
    
print('After d["Raza"] deletion.. \nd = ', d)

Created dictionary using dict(): d =  {}
Inserting value 30 at key "Raza"..
Keys of 'd' now:  dict_keys(['Raza'])

Inserting value 30 at key "raza"..
Keys of 'd' now:  dict_keys(['Raza', 'raza'])
NOTE: keys are case sensitive

Inserting value "raza" at key 30 ..
Keys of 'd' now:  dict_keys(['Raza', 'raza', 30])
NOTE: dict can have keys as string and integer at the same time

Inserting value "raza" at key 30.12 ..
Keys of 'd' now:  dict_keys(['Raza', 'raza', 30, 30.12])
NOTE: dict can have float as keys

Now d =  {'Raza': 30, 'raza': 30, 30: 'raza', 30.12: 'raza'}

Keys of d:  dict_keys(['Raza', 'raza', 30, 30.12])
Value of d:  dict_values([30, 30, 'raza', 'raza'])
NOTE: More than one key can have the same value

Deleting key-pair with key raza ...
Wrong Key
The Key given here is a variable
d['raza'] is the correct way

Deleting key-pair with key "raza" ...
After d["Raza"] deletion..
d =  {'Raza': 30, 30: 'raza', 30.12: 'raza'}

### Dict tuple as a key and replacement using [ ]<a name="dic-keytuple"></a>

In [13]:
'''
1. Creating Dict using {}
2. Key-value pair insertion using []
3. Replacing value using []
4. Tuple as a key
'''
print("Creating Dict using {}")
d = {}
print('d = ', d)
print('Type of d: ', type(d))
print('Inserting 30 at key 1 and 20 at key 2')
d[1] = 30
d[2] = 20
print('Now d = ', d, end='\n\n')

print("Replacing value at key 2 with 'raza'")
d[2] = 'raza'
print('Now d = ', d, end='\n\n')

print("Using tuple (2,2) as a key")
d[(2,2)] = 10
print('Now d = ', d, end='\n\n')

Creating Dict using {}
d =  {}
Type of d:  <class 'dict'>
Inserting 30 at key 1 and 20 at key 2
Now d =  {1: 30, 2: 20}

Replacing value at key 2 with 'raza'
Now d =  {1: 30, 2: 'raza'}

Using tuple (2,2) as a key
Now d =  {1: 30, 2: 'raza', (2, 2): 10}

### Looping through Dictionary<a name="dic-loop"></a>

In [14]:
'''
1. Simple Looping through Dictionary
'''
d = {1:"A", 2:"B", 3:"C"}

for i in d:
    print(i) #keys will be printed

1
2
3

In [15]:
'''
1. Looping through Dictionary with Mix key
2. summing the values of mix key dictionary
'''
d = {1: 1, '1': 2, 3: 3}
total_sum = 0

for key in d:
    total_sum += d[key]
    
print('Sum =',total_sum)

Sum = 6

In [16]:
'''
Example
'''
a = {} # made dictionary
a[1] = 1 # inserted value 1 at key 1
a['1'] = 2 # inserted value 1 at key '1'
a[1] = a[1] + 1 # adding 1 to value at key '1'
count = 0 
for key in a:
    count += a[key]
print('Count = ',count)

Count =  4

### Comparing Dictionaries <a name="dic-cmp"></a>

In [17]:
d1 = {1:"A", 2:"B", 3:"C"}
d2 = {1:"C", 2:"C", 3:"C"}
d1==d2

False

In [18]:
d1 = {1:"A", 2:"B", 3:"C"}
d2 = {4:"A", 5:"B", 6:"C"}
d1==d2

False

In [19]:
d1 = {1:"A", 2:"B", 3:"C"}
d2 = {1:"A", 2:"B", 3:"C"}
d1==d2

True

### Finding key in Dictionary <a name="dic-find"></a>

In [20]:
'''
Checking for specific key in dict
'''
d1 = {1:"A", 2:"B", 3:"C", 'raza' : 'Raza'}
print(2 in d1)
print("A" in d1)
print(4 in d1, end='\n\n')

print('raza' in d1)
print('Raza' in d1)

True
False
False

True
False

## Using .popitem() and .pop(key) on dictionary <a name="dic-pop"></a>

In [21]:
print("It removes the arbitrary key-value pair\
from the dictionary and returns it as a tuple.\n")
print("NOTE: There is an update for this method \
from Python version 3.7 onwards that it removes \
the last inserted key-value pair from the dictionary \
and returns it as a tuple.")
d = {1:"A", 2:"B", 3:"C"}
print('.popitem() =>',d.popitem(), ' d = ', d)
d = {1:"A", 2:"B", 3:"C"}
print('.pop(2) =>',d.pop(2), ' d = ', d)

It removes the arbitrary key-value pairfrom the dictionary and returns it as a tuple.

NOTE: There is an update for this method from Python version 3.7 onwards that it removes the last inserted key-value pair from the dictionary and returns it as a tuple.
.popitem() => (3, 'C')  d =  {1: 'A', 2: 'B'}
.pop(2) => B  d =  {1: 'A', 3: 'C'}

### Dictionary Examples <a name="dic-exp"></a>

In [22]:
a = {}
b = {}
c = {}
a[1] = 10
a[3] = 30
b[4] = 'Fourty'
c['A'] = a
c['B'] = b
print(c)

{'A': {1: 10, 3: 30}, 'B': {4: 'Fourty'}}

# List  <a name="list"></a>

### Creating List <a name="create-list"></a>

In [23]:
'''
1. Ways to Create Lists
2. Checking type to confirm
3. Printing Lists
'''
list1 = list([1,2,3])
list2 = list()
list3 = []

print('Types:', type(list1), type(list2), type(list3))
print('list1 = ', list1)
print('list2 = ', list2)
print('list3 = ', list3)

Types: <class 'list'> <class 'list'> <class 'list'>
list1 =  [1, 2, 3]
list2 =  []
list3 =  []

### Appending in List <a name="append-list"></a>

In [24]:
'''
1. Inserting strings, numbers, bool, floatin the list
2. Appending list, tuple, set and dict in list
3. Checking type of all elements
'''
list1 = [1,2.0]
print('Initialized List = ', list1)
list1.append(list1)
print('Appending list1 in itself results in pointer to itself')
print('Now, List = ', list1, end= '\n\n')

print('Appending string in list1 ')
list1.append('string')
print('Now, List = ', list1, end= '\n\n')

print('Appending list [4,5] in list1 ')
list1.append([4,5])
print('Now, List = ', list1, end= '\n\n')

print('Appending tuple (4,5) in list1 ')
list1.append((4,5))
print('Now, List = ', list1, end= '\n\n')

print('Appending dict {1:4,2:5} in list1 ')
list1.append({1:4,2:5})
print('Now, List = ', list1, end= '\n\n')

print('Appending set {1,2,4} in list1 ')
list1.append({1,2,4,4,4,4})
print('Now, List = \n', list1, end= '\n\n')

print('Checking type of each Element of list1')
for element in list1:
    print(type(element), element, end= '\n\n')

Initialized List =  [1, 2.0]
Appending list1 in itself results in pointer to itself
Now, List =  [1, 2.0, [...]]

Appending string in list1
Now, List =  [1, 2.0, [...], 'string']

Appending list [4,5] in list1
Now, List =  [1, 2.0, [...], 'string', [4, 5]]

Appending tuple (4,5) in list1
Now, List =  [1, 2.0, [...], 'string', [4, 5], (4, 5)]

Appending dict {1:4,2:5} in list1
Now, List =  [1, 2.0, [...], 'string', [4, 5], (4, 5), {1: 4, 2: 5}]

Appending set {1,2,4} in list1
Now, List =
 [1, 2.0, [...], 'string', [4, 5], (4, 5), {1: 4, 2: 5}, {1, 2, 4}]

Checking type of each Element of list1
<class 'int'> 1

<class 'float'> 2.0

<class 'list'> [1, 2.0, [...], 'string', [4, 5], (4, 5), {1: 4, 2: 5}, {1, 2, 4}]

<class 'str'> string

<class 'list'> [4, 5]

<class 'tuple'> (4, 5)

<class 'dict'> {1: 4, 2: 5}

<class 'set'> {1, 2, 4}

### Slicing and index List  <a name="slice-list"></a>

In [25]:
'''
1. Slicing integer List
2. Indexing integer List
'''
list1 = list(range(0,10))
print('Initialized List: ',list1, end= '\n\n')
print('>>>>Slicing<<<<')
print(list1[2:3])
print(list1[-3:-2], end= '\n\n') 
print(list1[2:5])
print(list1[-5:-2], end= '\n\n')
print(list1[0:10:1])
print(list1[0:10:2], end= '\n\n')
print(list1[-1::-1])
print(list1[-2::-2], end= '\n\n')

print('>>>>Indexing<<<<')
print(list1[0])
print(list1[-1], end= '\n\n')
print(list1[len(list1)-1])
print(list1[len(list1)//2], end= '\n\n')

Initialized List:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

>>>>Slicing<<<<
[2]
[7]

[2, 3, 4]
[5, 6, 7]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[8, 6, 4, 2, 0]

>>>>Indexing<<<<
0
9

9
5

### Slicing and index MIX List  <a name="slice-mix-list"></a>

In [26]:
'''
1. Printing Mix List
2. Indexing Mix List
3. Slicing Mix List
'''
list1 = [1, 2.2, 'raza', (3,4), [5,6], {7,8}, {9:10,11:12}]

#Printing List Elements and their types
for i,element in enumerate(list1):
    print("list1's Element {} with type {} is {}".format(i
                                                         ,type(element)
                                                         ,element
                                                        )
         )

#printing list1
print('\nlist1= \n',list1, end= '\n\n')

#Indexing List
print('Printing list1[-1][9]= ',list1[-1][9])
print('Explanation: ')
print('list1[-1]= {} which is dictionary'.format(list1[-1]))
print('Now need to enter the key to get value from dictionary\n')

#indexing string in the list
print('Indexing string: list1[2][2]= ',list1[2][2]) 

#indexing list in the list
print('indexing list in the list1: list1[4][2]= ',list1[4][1])

list1's Element 0 with type <class 'int'> is 1
list1's Element 1 with type <class 'float'> is 2.2
list1's Element 2 with type <class 'str'> is raza
list1's Element 3 with type <class 'tuple'> is (3, 4)
list1's Element 4 with type <class 'list'> is [5, 6]
list1's Element 5 with type <class 'set'> is {8, 7}
list1's Element 6 with type <class 'dict'> is {9: 10, 11: 12}

list1=
 [1, 2.2, 'raza', (3, 4), [5, 6], {8, 7}, {9: 10, 11: 12}]

Printing list1[-1][9]=  10
Explanation:
list1[-1]= {9: 10, 11: 12} which is dictionary
Now need to enter the key to get value from dictionary

Indexing string: list1[2][2]=  z
indexing list in the list1: list1[4][2]=  6

### List Comparison <a name="cmp-list"></a>

In [27]:
'''
1. Numeric: One Element change
'''
list1 = [1,2,3,4]
list2 = [1,2,3,44]
print("Is List1 < List2? ",(list1 < list2))
print("Is List2 < List1? ",(list2 < list1))
print("Is List2 == List1? ",(list2 == list1))

Is List1 < List2?  True
Is List2 < List1?  False
Is List2 == List1?  False

In [28]:
'''
1. Numeric: Two Element change
2. Comparison takes place element by element
'''
list1 = [1,22,3,4]
list2 = [1,2,3,44]
print("Is List1 < List2? ",(list1 < list2))
print("Is List2 < List1? ",(list2 < list1))
print("Is List2 == List1? ",(list2 == list1))

Is List1 < List2?  False
Is List2 < List1?  True
Is List2 == List1?  False

In [29]:
'''
1. Mix: One Numeric Element change
'''
list1 = ['raza', 1, 2.2, True]
list2 = ['raza', 1, 2.1, True]
print("Is List1 < List2? ",(list1 < list2))
print("Is List2 < List1? ",(list2 < list1))
print("Is List2 == List1? ",(list2 == list1))

Is List1 < List2?  False
Is List2 < List1?  True
Is List2 == List1?  False

In [30]:
'''
1. Mix: One String Element change
'''
list1 = ['raza', 1, 2.2, True]
list2 = ['razb', 1, 2.2, True]
print("Is List1 < List2? ",(list1 < list2))
print("Is List2 < List1? ",(list2 < list1))
print("Is List2 == List1? ",(list2 == list1))

Is List1 < List2?  True
Is List2 < List1?  False
Is List2 == List1?  False

In [31]:
'''
1. Size miss match
'''
list1 = [ 2.20002, True]
list2 = [ 2.20002]
print("Is List1 < List2? ",(list1 < list2))
print("Is List2 < List1? ",(list2 < list1))
print("Is List2 == List1? ",(list2 == list1))

Is List1 < List2?  False
Is List2 < List1?  True
Is List2 == List1?  False

### Operation on List <a name="oper-list"></a>

In [32]:
'''
1. multiplying list by scalar number
2. + - / ** ^ & | doesn't work

'''
list1 = [1,2,3] 
print(list1*2)

[1, 2, 3, 1, 2, 3]

In [33]:
'''
1. Adding two lists
2. * - ^ / & | doesn't work
'''
list1 = [1,2,3] 
list2 = [4,5,6] 
print(list1 + list2)

[1, 2, 3, 4, 5, 6]

### List Examples

In [34]:
list1 = [3,4]
list2 = [1,2]
list3 = list()
i,j = 0, 0
for i in list1:
    for j in list2:
        list3.append((i,j))
        i+=1
        j+=1
print(list3)

[(3, 1), (4, 2), (4, 1), (5, 2)]

### Using .pop() on list

In [35]:
list1 = [(3, 1), (4, 2), (4, 1), (5, 2)]
print("My List = ", list1)
poped_element = list1.pop()
print("Poped element = ", poped_element)
print("Now List = ", list1)

My List =  [(3, 1), (4, 2), (4, 1), (5, 2)]
Poped element =  (5, 2)
Now List =  [(3, 1), (4, 2), (4, 1)]

## SET <a name="set"></a>

In [36]:
set1 = {1,2,3,3,4}
print(set1)
poped_element = set1.pop()
print("Poped element = ", poped_element)
print(set1)

{1, 2, 3, 4}
Poped element =  1
{2, 3, 4}